$colorBackground: #f6f8fb;
$colorWhite: #fff;
$colorBlack: #000;
$colorPrimary: #ff7922;
$colorSecondary: #424b63;
$colorWarn: #ffbc90;
$colorHover: rgb(from $colorPrimary r g b / 0.04);
$colorBorder: #e6e6e6;
$colorShadow: #0000001a;
