:root {
  color: $colorText;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

*:placeholder-shown {
  color: $colorPlaceholder;
}

::-webkit-input-placeholder {
  color: $colorPlaceholder;
}

::-moz-placeholder {
  color: $colorPlaceholder;
  opacity: 1;
}

:-moz-placeholder {
  color: $colorPlaceholder;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $colorPlaceholder;
}

html,
body {
  background-color: $colorWhite;
  color: $colorText;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  line-height: 1;
  min-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  outline: none;
}
